<p>Dialogue Response Works!</p>
<!-- <div class="row" style="margin-left: 5px;">
    <div class="col-sm-9" style="background-color: purple;">
        <div class="row">
            <select id="s1" (change)="selectChange($event)">
                <option value="">Insert Replacer Text</option>
                <option *ngFor="let item of replacerArray" label="{{item.name}}" value="{{item.value}}"></option>
            </select>
        </div>
        <div class="row" >
            <div class="inputRow">
                <img class="gendericon" src="/icons/male.png" *ngIf="dialogueResponse.switchGender"/>
                <div class="inputLabel" *ngIf="dialogueResponse.showFirst">
                    <span  >n-th Time</span>
                </div>
                <input class="inputField" type="text" name="textDefault" [value]="dialogueResponse.textDefault" [(ngModel)]="dialogueResponse.textDefault" (focus)="textboxChanged($event)" #r>
                
            </div>
        </div>
        <div class="row" *ngIf="dialogueResponse.switchGender">
            <div class="inputRow">
                <img class="gendericon" src="/icons/female.png" />
                <div class="inputLabel" *ngIf="dialogueResponse.showFirst">
                    <span >n-th Time</span>
                </div>
                <input class="inputField" type="text" name="textFemale" [value]="dialogueResponse.textFemale" [(ngModel)]="dialogueResponse.textFemale" (focus)="textboxChanged($event)">    
            </div>
        </div>
        <div class="row">
            <div>
                <button class="button" (click)="dialogueResponse.switchGender=!dialogueResponse.switchGender">Gender Specific</button>
            </div>
        </div> 

    </div>
    <div class="col-sm-3" style="background-color:darkolivegreen" *ngIf="dialogueResponse.endStyle!=3">-->
        <!-- <app-portrait-select [characterName]="dialogueService.getCharacterString()" [(portraitNumber)]="dialogueResponse.portrait"></app-portrait-select> -->
        <!--<span>{{portrait}}</span>
    </div>
</div> -->